In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
from pca import PCA

In [2]:
path = os.path.join(os.path.dirname(os.getcwd()), 'Data')
returns = pd.read_excel(os.path.join(path, 'Data.xlsx'), sheet_name='RETURNS').rename(columns={'Unnamed: 0': 'Date'})
returns = returns.set_index('Date')
returns.head()

,EUROSTOXX50,ANHEUSER-BUSCH INBEV SA/NV,KONINKLIJKE AHOLD DELHAIZE N,ADIDAS AG,AIR LIQUIDE SA,AIRBUS SE,ALLIANZ SE-REG,ASML HOLDING NV,BASF SE,BAYER AG-REG,...,SAFRAN SA,SANOFI,BANCO SANTANDER SA,SAP SE,SIEMENS AG-REG,SCHNEIDER ELECTRIC SE,TELEFONICA SA,TOTALENERGIES SE,VIVENDI SE,VOLKSWAGEN AG-PREF
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-31,0.032523,0.054383,0.003162,0.075629,0.041231,0.010972,0.036812,0.097633,0.002335,-0.026051,...,0.076236,0.019595,0.061884,0.100177,0.055098,0.141340,-0.011803,0.070689,-0.025699,0.091075
2006-02-28,0.022783,0.000543,0.077163,-0.046946,-0.021275,-0.046203,0.020732,-0.061456,-0.024685,-0.016879,...,-0.017479,-0.053677,0.042739,0.015130,0.025850,-0.002907,0.030260,-0.071304,-0.012797,0.219389
2006-03-31,0.021922,-0.002326,-0.051172,-0.005057,0.037439,0.130364,0.017577,-0.032165,0.022768,-0.021617,...,-0.020598,0.099439,-0.016324,0.046520,0.000520,0.039068,0.000768,0.031755,0.113553,0.047422
2006-04-28,-0.001103,0.045571,0.009242,0.025480,-0.001745,-0.100372,-0.036871,-0.002967,0.050386,0.107398,...,-0.027246,-0.047770,0.019916,-0.032454,-0.026485,0.007295,-0.019305,0.006891,0.021172,-0.028490
2006-05-31,-0.042522,-0.061532,-0.025948,-0.067838,-0.032199,-0.092904,-0.071193,-0.060119,-0.038437,-0.017612,...,-0.137736,-0.016054,-0.072645,-0.045965,-0.105059,-0.075689,0.025819,-0.048478,0.002404,-0.081681

In [3]:
stocks = returns.columns.tolist()
model = PCA(returns ,  stocks , 3 )
cov  = model.cov_matrix
eigen_values = model.eigenvalues
eigen_vectors = model.reduced_eigenvectors

eigen_vectors

                                  PC_1      PC_2      PC_3
EUROSTOXX50                   0.212619  0.005017 -0.004756
ANHEUSER-BUSCH INBEV SA/NV    0.116523 -0.114423 -0.125037
KONINKLIJKE AHOLD DELHAIZE N  0.075654 -0.052626 -0.246661
ADIDAS AG                     0.119877 -0.221344  0.036026
AIR LIQUIDE SA                0.145405 -0.127968 -0.151740
AIRBUS SE                     0.141008  0.017677  0.025593
ALLIANZ SE-REG                0.179794  0.056574  0.083352
ASML HOLDING NV               0.124810 -0.161882  0.024809
BASF SE                       0.173823 -0.082407  0.107706
BAYER AG-REG                  0.134407 -0.071361 -0.066107
BANCO BILBAO VIZCAYA ARGENTA  0.168913  0.225847  0.127140
BAYERISCHE MOTOREN WERKE AG   0.158001 -0.135240  0.125539
DANONE                        0.120599 -0.119422 -0.248126
BNP PARIBAS                   0.165619  0.189548  0.188560
CRH PLC                       0.122512 -0.097211  0.037776
AXA SA                        0.176462  0.135103  0.142784
DEUTSCHE BOERSE AG            0.121476 -0.016428 -0.094261
VINCI SA                      0.171401  0.060962 -0.013091
DHL GROUP                     0.151627 -0.103720  0.010879
DEUTSCHE TELEKOM AG-REG       0.114444  0.099465 -0.310851
ESSILORLUXOTTICA              0.120505 -0.160809 -0.040691
ENEL SPA                      0.149618  0.170560 -0.176420
ENGIE                         0.132940  0.153448 -0.173541
ENI SPA                       0.147945  0.148147 -0.004408
FRESENIUS SE & CO KGAA        0.117175 -0.116490 -0.043688
SOCIETE GENERALE SA           0.170184  0.189527  0.213683
IBERDROLA SA                  0.127043  0.141393 -0.186541
ING GROEP NV                  0.177146  0.108171  0.234778
INTESA SANPAOLO               0.168960  0.221590  0.120217
INDUSTRIA DE DISENO TEXTIL    0.142364 -0.016985 -0.056459
KERING                        0.130929 -0.268905  0.043902
MERCEDES-BENZ GROUP AG        0.170830 -0.101930  0.155193
LVMH MOET HENNESSY LOUIS VUI  0.160663 -0.196325  0.058222
MUENCHENER RUECKVER AG-REG    0.152969  0.069497 -0.001633
NOKIA OYJ                     0.086541  0.005805 -0.120776
L'OREAL                       0.136650 -0.206767 -0.177440
ORANGE                        0.082860  0.217891 -0.373854
KONINKLIJKE PHILIPS NV        0.135823 -0.165142 -0.000417
SAFRAN SA                     0.142997 -0.040978  0.074496
SANOFI                        0.111335 -0.068904 -0.244367
BANCO SANTANDER SA            0.165505  0.235923  0.168126
SAP SE                        0.133323 -0.172242 -0.009466
SIEMENS AG-REG                0.162609 -0.110165  0.025823
SCHNEIDER ELECTRIC SE         0.161877 -0.175544  0.076880
TELEFONICA SA                 0.131439  0.237580 -0.227604
TOTALENERGIES SE              0.136728  0.164545 -0.008443
VIVENDI SE                    0.121628  0.081129 -0.046183
VOLKSWAGEN AG-PREF            0.134694 -0.076695  0.175596

In [6]:
for i in stocks: 
    print(returns[i].head())

Date
2006-01-31    0.032523
2006-02-28    0.022783
2006-03-31    0.021922
2006-04-28   -0.001103
2006-05-31   -0.042522
Name: EUROSTOXX50, dtype: float64
Date
2006-01-31    0.054383
2006-02-28    0.000543
2006-03-31   -0.002326
2006-04-28    0.045571
2006-05-31   -0.061532
Name: ANHEUSER-BUSCH INBEV SA/NV, dtype: float64
Date
2006-01-31    0.003162
2006-02-28    0.077163
2006-03-31   -0.051172
2006-04-28    0.009242
2006-05-31   -0.025948
Name: KONINKLIJKE AHOLD DELHAIZE N, dtype: float64
Date
2006-01-31    0.075629
2006-02-28   -0.046946
2006-03-31   -0.005057
2006-04-28    0.025480
2006-05-31   -0.067838
Name: ADIDAS AG, dtype: float64
Date
2006-01-31    0.041231
2006-02-28   -0.021275
2006-03-31    0.037439
2006-04-28   -0.001745
2006-05-31   -0.032199
Name: AIR LIQUIDE SA, dtype: float64
Date
2006-01-31    0.010972
2006-02-28   -0.046203
2006-03-31    0.130364
2006-04-28   -0.100372
2006-05-31   -0.092904
Name: AIRBUS SE, dtype: float64
Date
2006-01-31    0.036812
2006-02-28    0.020732
2006-03-31    0.017577
2006-04-28   -0.036871
2006-05-31   -0.071193
Name: ALLIANZ SE-REG, dtype: float64
Date
2006-01-31    0.097633
2006-02-28   -0.061456
2006-03-31   -0.032165
2006-04-28   -0.002967
2006-05-31   -0.060119
Name: ASML HOLDING NV, dtype: float64
Date
2006-01-31    0.002335
2006-02-28   -0.024685
2006-03-31    0.022768
2006-04-28    0.050386
2006-05-31   -0.038437
Name: BASF SE, dtype: float64
Date
2006-01-31   -0.026051
2006-02-28   -0.016879
2006-03-31   -0.021617
2006-04-28    0.107398
2006-05-31   -0.017612
Name: BAYER AG-REG, dtype: float64
Date
2006-01-31    0.110458
2006-02-28    0.027679
2006-03-31    0.008198
2006-04-28    0.027944
2006-05-31   -0.076527
Name: BANCO BILBAO VIZCAYA ARGENTA, dtype: float64
Date
2006-01-31    0.004852
2006-02-28    0.083527
2006-03-31    0.126683
2006-04-28   -0.051483
2006-05-31   -0.053614
Name: BAYERISCHE MOTOREN WERKE AG, dtype: float64
Date
2006-01-31    0.016430
2006-02-28    0.081382
2006-03-31    0.042268
2006-04-28   -0.021761
2006-05-31   -0.031413
Name: DANONE, dtype: float64
Date
2006-01-31    0.073885
2006-02-28    0.057901
2006-03-31   -0.005158
2006-04-28   -0.022831
2006-05-31    0.006675
Name: BNP PARIBAS, dtype: float64
Date
2006-01-31    0.026157
2006-02-28    0.076866
2006-03-31    0.059136
2006-04-28    0.012154
2006-05-31   -0.097770
Name: CRH PLC, dtype: float64
Date
2006-01-31    0.023477
2006-02-28    0.062367
2006-03-31   -0.022944
2006-04-28    0.004489
2006-05-31   -0.039265
Name: AXA SA, dtype: float64
Date
2006-01-31    0.202620
2006-02-28    0.014228
2006-03-31    0.127104
2006-04-28   -0.036719
2006-05-31   -0.096239
Name: DEUTSCHE BOERSE AG, dtype: float64
Date
2006-01-31    0.053683
2006-02-28    0.012410
2006-03-31    0.069134
2006-04-28   -0.031960
2006-05-31   -0.074142
Name: VINCI SA, dtype: float64
Date
2006-01-31    0.132332
2006-02-28   -0.055203
2006-03-31   -0.055677
2006-04-28    0.021253
2006-05-31    0.033146
Name: DHL GROUP, dtype: float64
Date
2006-01-31   -0.074599
2006-02-28    0.016150
2006-03-31    0.051332
2006-04-28    0.028755
2006-05-31   -0.069097
Name: DEUTSCHE TELEKOM AG-REG, dtype: float64
Date
2006-01-31    0.053520
2006-02-28    0.006263
2006-03-31    0.017979
2006-04-28    0.080164
2006-05-31   -0.000021
Name: ESSILORLUXOTTICA, dtype: float64
Date
2006-01-31    0.050212
2006-02-28    0.001005
2006-03-31    0.001140
2006-04-28   -0.017767
2006-05-31    0.014439
Name: ENEL SPA, dtype: float64
Date
2006-01-31    0.050485
2006-02-28    0.116109
2006-03-31    0.027902
2006-04-28   -0.045576
2006-05-31   -0.015688
Name: ENGIE, dtype: float64
Date
2006-01-31    0.061888
2006-02-28   -0.036980
2006-03-31   -0.020031
2006-04-28    0.031514
2006-05-31   -0.030966
Name: ENI SPA, dtype: float64
Date
2006-01-31    0.169865
2006-02-28    0.059182
2006-03-31    0.072168
2006-04-28   -0.059741
2006-05-31   -0.060772
Name: FRESENIUS SE & CO KGAA, dtype: float64
Date
2006-01-31    0.046198
2006-02-28    0.093836
2006-03-31    0.043735
2006-04-28   -0.024174
2006-05-31   -0.007432
Name: SOCIETE GENERALE SA, dtype: float64
Date
2006-01-31    0.031079
2006-02-28    0.129744
2006-03-31    0.006421
2006-04-28   -0.030779
2006-05-31   -0.029819
Name: IBERDROLA SA, dtype: float64
Date
2006-01-31    0.002390
2006-02-28    0.073546
2006-03-31    0.033935
2006-04-28    0.009057
2006-05-31   -0.053625
Name: ING GROEP NV, dtype: float64
Date
2006-01-31    0.046487
2006-02-28    0.059134
2006-03-31   -0.006039
2006-04-28   -0.000330
2006-05-31   -0.040774
Name: INTESA SANPAOLO, dtype: float64
Date
2006-01-31    0.026127
2006-02-28    0.065794
2006-03-31    0.057087
2006-04-28    0.012559
2006-05-31   -0.040622
Name: INDUSTRIA DE DISENO TEXTIL, dtype: float64
Date
2006-01-31    0.009018
2006-02-28    0.007249
2006-03-31    0.030464
2006-04-28    0.031669
2006-05-31   -0.058425
Name: KERING, dtype: float64
Date
2006-01-31    0.095519
2006-02-28   -0.016094
2006-03-31    0.019363
2006-04-28   -0.053194
2006-05-31   -0.056607
Name: MERCEDES-BENZ GROUP AG, dtype: float64
Date
2006-01-31   -0.010657
2006-02-28    0.026998
2006-03-31    0.060940
2006-04-28    0.031535
2006-05-31   -0.070120
Name: LVMH MOET HENNESSY LOUIS VUI, dtype: float64
Date
2006-01-31   -0.023166
2006-02-28    0.018076
2006-03-31    0.028570
2006-04-28   -0.013964
2006-05-31   -0.058491
Name: MUENCHENER RUECKVER AG-REG, dtype: float64
Date
2006-01-31   -0.025887
2006-02-28    0.043187
2006-03-31    0.111465
2006-04-28    0.056797
2006-05-31   -0.074239
Name: NOKIA OYJ, dtype: float64
Date
2006-01-31    0.063693
2006-02-28    0.111529
2006-03-31   -0.020874
2006-04-28    0.011004
2006-05-31   -0.036584
Name: L'OREAL, dtype: float64
Date
2006-01-31   -0.108147
2006-02-28   -0.025106
2006-03-31    0.016987
2006-04-28   -0.002692
2006-05-31   -0.004814
Name: ORANGE, dtype: float64
Date
2006-01-31    0.058287
2006-02-28   -0.016558
2006-03-31    0.036970
2006-04-28   -0.019363
2006-05-31   -0.102740
Name: KONINKLIJKE PHILIPS NV, dtype: float64
Date
2006-01-31    0.076236
2006-02-28   -0.017479
2006-03-31   -0.020598
2006-04-28   -0.027246
2006-05-31   -0.137736
Name: SAFRAN SA, dtype: float64
Date
2006-01-31    0.019595
2006-02-28   -0.053677
2006-03-31    0.099439
2006-04-28   -0.047770
2006-05-31   -0.016054
Name: SANOFI, dtype: float64
Date
2006-01-31    0.061884
2006-02-28    0.042739
2006-03-31   -0.016324
2006-04-28    0.019916
2006-05-31   -0.072645
Name: BANCO SANTANDER SA, dtype: float64
Date
2006-01-31    0.100177
2006-02-28    0.015130
2006-03-31    0.046520
2006-04-28   -0.032454
2006-05-31   -0.045965
Name: SAP SE, dtype: float64
Date
2006-01-31    0.055098
2006-02-28    0.025850
2006-03-31    0.000520
2006-04-28   -0.026485
2006-05-31   -0.105059
Name: SIEMENS AG-REG, dtype: float64
Date
2006-01-31    0.141340
2006-02-28   -0.002907
2006-03-31    0.039068
2006-04-28    0.007295
2006-05-31   -0.075689
Name: SCHNEIDER ELECTRIC SE, dtype: float64
Date
2006-01-31   -0.011803
2006-02-28    0.030260
2006-03-31    0.000768
2006-04-28   -0.019305
2006-05-31    0.025819
Name: TELEFONICA SA, dtype: float64
Date
2006-01-31    0.070689
2006-02-28   -0.071304
2006-03-31    0.031755
2006-04-28    0.006891
2006-05-31   -0.048478
Name: TOTALENERGIES SE, dtype: float64
Date
2006-01-31   -0.025699
2006-02-28   -0.012797
2006-03-31    0.113553
2006-04-28    0.021172
2006-05-31    0.002404
Name: VIVENDI SE, dtype: float64
Date
2006-01-31    0.091075
2006-02-28    0.219389
2006-03-31    0.047422
2006-04-28   -0.028490
2006-05-31   -0.081681
Name: VOLKSWAGEN AG-PREF, dtype: float64

In [4]:
scores = model.reduced_pc_scores #PC1
scores

                PC_1      PC_2      PC_3
Date
2006-01-31  3.181818 -1.534186  1.210880
2006-02-28  1.269649  0.435248 -0.341488
2006-03-31  1.794042 -0.319255 -0.729636
2006-04-28 -1.068337 -0.187204  0.180097
2006-05-31 -5.185730  1.540023  0.213714
...              ...       ...       ...
2023-08-31 -2.196106  1.545860 -0.025831
2023-09-29 -2.968706  2.919038  0.051916
2023-10-31 -3.272628  1.481215 -0.689881
2023-11-30  5.675083 -0.894484 -0.338116
2023-12-29  1.771857 -1.244523  1.103650

[216 rows x 3 columns]

In [5]:
models = model.pca_model()

KeyError: 'EUROSTOXX50'